@keyframes arrow {
  40%,
  50% {
    opacity: 0;
  }

  43% {
    transform: translateX(20px) scaleY(0.1);
  }

  44%,
  50% {
    transform: translateX(-40px) scaleY(0.1);
  }

  100% {
    transform: translateX(0) scaleY(1);
  }
}

.fuwafuwa {
  animation: fuwafuwaAnim 2.5s linear 0s infinite;
}

@keyframes fuwafuwaAnim {
  0%,
  100% {
    transform: translateY(0) translateX(0);
  }

  50%,
  55% {
    transform: translateY(-5px) translateX(0);
  }
}

@keyframes attensition {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }

  15% {
    transform: translate(100%, 0);
    opacity: 0;
  }

  20% {
    transform: translate(-100%);
    opacity: 0;
  }

  100%,
  40% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes attensitionReverse {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }

  20% {
    transform: translate(0, -100%);
    opacity: 0;
  }

  21% {
    transform: translate(0, 100%);
    opacity: 0;
  }

  100%,
  40% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes arrow {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }

  20% {
    transform: translate(60%, -60%);
    opacity: 0;
  }

  21% {
    transform: translate(-60%, 60%);
    opacity: 0;
  }

  100%,
  40% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
