<div class="canvaswrap"><canvas id="webgl"></canvas></div>

<div class="contents">
  <ul class="imgList">
    <li class="imgItem">
      <div class="imgWrap">
        <img src="./assets/img/sample.webp" alt="" class="js-img">
      </div>
    </li>
  </ul>

</div>